seed: 0
device: 0
experiment_name: blender-dataset
model: 
  n_components: 10_000
  init_random: True
  dof: 1
  scale: ${model.n_components}
data: 
  model_name: lego
  data_path: /home/shared/blender/${data.model_name}
  subsample_factor: null
train: 
  batch_size: 5_00
  learning_rate: 1.0
  beta: 0.0
  n_iters: 1
  finetune: false
dirname: ${experiment_name}/${data.model_name}/nc:${model.n_components}/subs:${data.subsample_factor}_randinit:${model.init_random}
hydra: 
  job: 
    chdir: True
  run: 
    dir: data/${dirname}
  sweep: 
    dir: data/sweep/${dirname}
    subdir: ""
